<div class="column">
    <div class="top-box">
        <a routerLink="/Dashboard">
            <button class="button">Dashboard</button>
        </a>
    </div>
</div>
<div class="column " style="margin-top: 10px;">
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="form-content">
                <label for="title">Title:</label>
                <input type="text" id="title" formControlName="title" class="form-input">
                <input type="hidden" id="id" formControlName="id">
                <div *ngIf="addTaskForm.get('title').hasError('required') && addTaskForm.get('title').touched">
                    Title is required.
                </div>
            </div>
            <div class="form-content">
                <label for="priority">Priority Level:</label>
                <select id="priority" formControlName="priority" class="form-select">
                    <option value="low">low</option>
                    <option value="medium">medium</option>
                    <option value="high">high</option>
                </select>
                <div *ngIf="addTaskForm.get('priority').hasError('required') && addTaskForm.get('priority').touched">
                    Priority Level required.
                </div>
            </div>

            <div class="form-content">
                <label for="status">Status:</label>
                <select id="status" formControlName="status" class="form-select">
                    <option value="open">open</option>
                    <option value="in progress">in progress</option>
                    <option value="completed">completed</option>
                </select>
                <div *ngIf="addTaskForm.get('status').hasError('required') && addTaskForm.get('status').touched">
                    Status is required.
                </div>
            </div>

            <div class="form-content">
                <label for="due_date">Due date:</label>
                <input type="date" id="due_date" formControlName="due_date" class="form-input">
                <div *ngIf="addTaskForm.get('due_date').hasError('required') && addTaskForm.get('due_date').touched">
                    Due date is required.
                </div>
            </div>

            <div class="form-content">
                <label for="description">Description:</label>
                <textarea id="description" formControlName="description" class="form-textarea"></textarea>
                <div
                    *ngIf="addTaskForm.get('description').hasError('required') && addTaskForm.get('description').touched">
                    Description is required.
                </div>
            </div>

        </div>
        <div class="btn-btn">
            <button class="button" type="submit" [disabled]="!addTaskForm.valid">Add Task</button>
        </div>
    </form>
</div>