<div class="custom-model-main">
    <div class="custom-model-inner">
        <div class="custom-model-wrap">
            <div class="card">
                <div class="card-content">
                    <div (click)="sendData()" class="close-icon">
                        Close 
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>
                    <h2>Title: {{taskData.title}}</h2>
                    <p>Description: {{taskData.description}}</p>
                    <p>Priority: {{taskData.priority}}</p>
                    <p>Status: {{taskData.status}}</p>
                    <!-- <p>ID: 1</p> -->
                    <p>Due Date: {{taskData.due_date}}</p>
                </div>
                <div class="buttons">
                    <button class="button edit" routerLink="/Edit-Task/{{taskData.id}}">Edit</button>
                    <button class="button delete" (click)="delete()">Delete</button>
                </div>
                <div class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
            </div>
        </div>
        <div class="bg-overlay" (click)="sendData()"></div>
    </div>